/* Generale */
/* Reset */ *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


body{
    width: 80%;
    margin: 10px auto;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 150px;
    margin: auto;
}

.logo {
    height: 50%;
    padding-right: 10px;
    border-right: 1px solid #CBBCB6;
    margin-bottom: 20px;
}

.menu-principale li{
    display: inline-block;
    margin: 0;
    padding: 0;
}
  
.menu-principale a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #cbbcb6;
    font-size: 1.2rem;
}
  
a:hover{
    background-color: black;
    color: white;   
}

.paragrafo-1{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 600px;
    margin: 15px auto;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 600px;
    display: inline-block;
    position: absolute;
}

.mini-title{
    width: 50%;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 5%;
    font-size: 2rem;
}

.mini-description {
    width: 50%;
    color: white;
    position: absolute;
    bottom: 12%;
    left: 5%;
    font-size: 1.25rem;
}

.paragrafo-2{
    height: 700px;
    width: 100%;
}

.sezione-top{
    width: 100%;
    height: 15%;
    margin-bottom: 20px;
    text-align: left;
    line-height: 100px;
    position: relative;
    }

.main-text{
    position: absolute;
    float: left;
    bottom: 15%;
}

.title {
    bottom: 15%;
}
 
.description {
    top: 15%;
    color:#cbbcb6;
}

.sezione-side{ 
    width: 20%;
    height: 78%;
    float: left;
}

.img-left{
    position: absolute;
    float: left;
    width: 302px;
    left: 190px;
    border-radius: 10px;
   
}

.overlay2{
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: absolute;
    float: left;
    width: 300px;
    height: 300px;
    left: 190px;
    border-radius: 10px;
}

.img-right{
    position: absolute;
    float: left;
    width: 302px;
    right: 190px;
    border-radius: 10px;
}

.overlay3 {
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: absolute;
    float: left;
    width: 300px;
    height: 300px;
    right: 190px;
    border-radius: 10px;
}

.paragraph-title {
    margin-top: 320px;
    margin-bottom: 10px;
}

.sezione-mid{
    background-color: #ABCFE7;
    height: 78%;
    width: calc( 60% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}



footer {
    width: 100%;
    height: 60px;
    background: #8601FF;
    margin: 10px auto;
}